* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EBF7FD;
}

.main-container {
  display: flex;
}
main {
  padding: 10px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: #FFFFFF;
  color: #414389;
  font-family: 'Calibri';
  height: 100vh;
  overflow-y: auto;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 1px 1px 5px 0px rgba(199,199,199,0.75);
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px;
  font-size: 20px;
}

.top_section h1 {
  font-size: 22px;
}

.logo {
  font-size: 18px;
  line-height: 0;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);

  color: white;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 1rem 0rem 1rem;
}

.link {
  display: flex;
  color: #8D8EB8;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  text-decoration: none;
  border-radius: 10px;
}

.link:hover {
  border-right: 4px solid white;
  background: #EBF7FD;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.active {
  border-right: 4px solid white;
  background: #EBF7FD;
  color: #36AAEC;
}

.link_text {
  white-space: nowrap;
  font-size: 15px;
  text-decoration: none;
}

.menu {
  display: flex;
  color: #8D8EB8;;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}




.mainContainer {
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  justify-items: center;
  align-items: center;
}